.center-div {
  margin: auto;
  width: 50%;
  padding: 20px;
}

.card {
  background-color: rgb(225, 236, 225);
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5a614f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 4px;
    width: 18%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 15px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #disabled{
    pointer-events: none;
    cursor: default;
    background-color: #878886;
  }

  body{
    background-image: url("../../../assets/img/bursera-graveolens-planta-arbol-sagrado-espanol.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 90.6vh
  }


  

