<body>
<div class="center-div">
  <h2 class="text-center p-3">Gestión Tienda Incienso</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card w-90">
        <div class="card-body">
          <h5 class="card-title">Categorias</h5>
          <p class="card-text">Añade, edita y elimina categorias.</p>
          <a routerLink="/categorias" class="button" style="vertical-align:middle"><span>Ir</span></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card w-90">
        <div class="card-body">
          <h5 class="card-title">Usuarios</h5>
          <p class="card-text">¡En mantenimiento!</p>
          <a href="#" class="button" id="disabled" style="vertical-align:middle"><span>Ir</span></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card w-90">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">¡En mantenimiento!</p>
          <a href="#" class="button" id="disabled" style="vertical-align:middle"><span>Ir</span></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card w-90">
        <div class="card-body">
          <h5 class="card-title">Carrito</h5>
          <p class="card-text">¡En mantenimiento!</p>
          <a href="#" class="button" id="disabled" style="vertical-align:middle"><span>Ir</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
</body>
