<div class="center-div">
    <div class="col-md-10">
        <h2 class="text-center">Añadir categoria</h2>
        <form>
          <div class="form-group">
            <label for="lastname">Nombre Categoria:</label>
            <input formControlName="cat_nombre" placeholder="nombre" name="cat_nombre" class="form-control" id="lastname">
          </div>
    
          <div class="form-group">
            <label for="email">Descripcion categoria</label>
            <input type="email" formControlName="cat_descripcion" placeholder="descripcion" name="cat_descripcion" class="form-control" id="email">
          </div><br>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success">Submit</button>
            <button routerLink="/categorias" class="btn btn-danger ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>